
[submodule "src/deps/zig-gamedev/zgpu/libs/dawn"]
	path = src/deps/zig-gamedev/zgpu/libs/dawn
	url = https://github.com/michal-z/dawn-bin
	branch = main
[submodule "src/deps/nfd-zig"]
	path = src/deps/nfd-zig
	url = https://github.com/fabioarnold/nfd-zig.git
