assets/palettes/endesga-32.hex eol=crlf
assets/palettes/resurrect-64.hex eol=crlf
assets/palettes/apollo.hex eol=crlf
assets/palettes/cc-29.hex eol=crlf
assets/palettes/pico-8.hex eol=crlf
assets/palettes/pear36.hex eol=crlf
assets/palettes/journey.hex eol=crlf
assets/palettes/lospec500.hex eol=crlf
