<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>CFBundleName</key>
<string>Pixi</string>
<key>CFBundleIdentifier</key>
<string>com.foxnne.pixi</string>
<key>CFBundleVersion</key>
<string>0.0.1</string> Note: Follow Semantic versioning
<key>CFBundleIconFile</key>
<string>pixi.icns</string>
<key>CFBundleDocumentTypes</key>
<array>
	<dict>
		<key>CFBundleTypeExtensions</key>
		<array>
			<string>pixi</string>
            <string>png</string>
            <string>jpg</string>
		</array>
		<key>CFBundleTypeIconFile</key>
		<string>pixi.icns</string>
		<key>CFBundleTypeName</key>
		<string>Pixi art files</string>
		<key>CFBundleTypeRole</key>
		<string>Editor</string>
	</dict>
</array>
</dict>
</plist>